@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="utf-8">
    <style>
        table {
            border: 1px solid black;
            width: 50%;
        }
        th {
            border: 1px solid black;
        }
        td {
            border: 1px solid black;
        }
    </style>
</head>

<div>
    <h1>Новостная лента</h1>
</div>

<div>
   <p>Источник ленты 
   <select>
       <option>Все</option>
       <option>Interfax</option>
       <option>Habrahabr</option>
   </select>
   </p>
</div>

<form action="">
    <p>
        <input name="sort" type="radio" value="date" checked> Сортировать по дате
        <input name="sort" type="radio" value="www"> Сортировать по источнику
    </p>
    <p><input type="submit" id="submit" value="Просмотреть"> </p>
</form> 


<table>
    <tr>
        <th>Источник </th>
        <th>Название новости</th>
        <th>Описание новости</th>
        <th>Дата публикации</th>
    </tr> 

    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr> 
</table>


