
@{
    ViewBag.Title = "Ajax";
}

<h2>Ajax</h2>

<div>
    <h3>Новостная лента</h3>
</div>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <style>
        table {
            border: 1px solid black;
            width: 50%;
        }

        th {
            border: 1px solid black;
        }

        td {
            border: 1px solid black;
        }
    </style>
</head>

@*<script type="text/javascript"src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>*@
@*<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>*@


<div>
    <p>
        Источник ленты
        <select>
            <option>Все</option>
            <option>Interfax</option>
            <option>Habrahabr</option>
        </select>
    </p>
</div>

<form action="">
    <p>
        <input name="sort" type="radio" value="date" checked> Сортировать по дате
        <input name="sort" type="radio" value="www"> Сортировать по источнику
    </p>
    <p><input type="button" id="show" value="Просмотреть"></p>
</form>


<table id="example" class="display" style="width:50%">
    <thead>
        <tr>
            <th>Источник </th>
            <th>Название новости</th>
            <th>Описание новости</th>
            <th>Дата публикации</th>
        </tr>
    </thead>
</table>


@section scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <style type="text/css">
        #example img {
            max-width: 500px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#show').click(function () {
                $.ajax({
                    type: "GET",
                    url: '/Ajax/Result',
                    dataType: 'json',
                    success: function (jsondata) {
                        console.log(jsondata);
                        $('#example').DataTable({
                            data: jsondata,
                            columns: [
                                { data: 'DataSource' },
                                {
                                    data: 'NewsName',
                                    //render: function(data, index, row) {
                                    //    return "<div style='width:500px'>" + data + "</div>";
                                    //}
                                },
                                { data: 'NewsDescription' },
                                { data: 'DateOfPublication' }
                            ]
                        });
                    },
                });
            });
        });
    </script>


}
